{% extends 'layout.html' %} 


{% block main %}


{% load static %}



<div class="bio">
  <div class="picture"><img src=" {% static 'images/bioprofile.jpeg' %} " alt="" /></div>

  <div class="profile">
    <h1><span>Hi👋,</span> <br> My name is Titus Tukurah <span>Yakubu</span></h1>
    <h3>Something you should know about Titus</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      labore beatae quo deleniti illo, porro accusamus! Nam libero blanditiis
      deleniti vitae fugit officiis in dicta. Autem quod quis a perferendis.
    </p>
  </div>
</div>

{% endblock main %}
