{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} " />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">LOGO</div>

        <div class="menu">
          <ul>
            <li><a href=" {% url 'homepage' %}">Home</a></li>
            <li><a href=" {% url 'about' %}">About</a></li>
            <li><a href=" {% url 'contact' %}">Contact</a></li>
            <li><a href=" {% url 'blogHome' %}">Blog</a></li>

            {% if user.is_superuser and user.is_authenticated %}
            <li><a href=" {% url 'addBlog' %}">Add Blog</a></li>
            {% endif %} {% comment %} user should see logout once they have
            successfully logged in {% endcomment %}
            
            {% if user.is_authenticated%} 
              <form action=" {% url 'userLogout' %} " method="POST">
                {% csrf_token %}
                <button>Logout</button>
              </form>

            {% else %}
              <li><a href=" {% url 'userLogin' %}">Sign In</a></li>
            {% endif %} 
            
            
          </ul>
        </div>
      </nav>
    </header>

    <main>{% block main %} {% endblock main %}</main>

    <footer class="footer">
      <p>All rights reserved. &copy; 2025</p>
    </footer>
  </body>
</html>
